<!DOCTYPE html>
<html lang="ru">
<head>
<meta http-equiv="refresh" content="10" />
    <meta charset="UTF-8">
    <title>FlexVision</title>
</head>
<body>
    <div class="a">
    <h1 >{{resp.name}}</h1>
    <ol>
        <li >Кол-во машин на парковке: {{resp.car_count}}</li>
        <li >Уровень загруженности: {{resp.workload}}</li>
    </ol>
        <img src="http://localhost:5000/one-park" alt="http://localhost:5000/one-park" class="shrinkToFit" width="852" height="479">
        <script>
        window.onloadeddata = f()

        function f() {
            var item = document.getElementsByClassName("a")
            for(var i = 0; i < item.length; i++)
            {
                if(i != item.length - 1) {
                    item.item(i).setAttribute("hidden", "hidden")
                }
            }
        }
    </script>
    </div>

</body>
</html>